<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- titulo Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <!-- situacao Column -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situacao </th>
      <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
